// Palette colori per front-end

$light-blue: #90e8e6;
$yellow: #f8ad06;
$teal: #049498;
$grey: #cecbd2;
$btn_light_blue: #7fd4d1;

// colori pagina
$primary_color: #00ccff;
$secondary_color: #EEEDE9;
$third_color: white;
$fourth_color: rgb(98, 0, 255);
$fifth_color: black;